{% extends "base.html" %}

{% load random %}

{% block extrahead %}
<style>
body {
    margin: 0;
    padding: 0;
    background: floralwhite;
}
div.header {
    background: #112E51;
    margin: 0 0 20px 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
a.header-link {
    color: white;
}
a.header-link:visited {
    color: white;
}
div.newsstand {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
div.board {
    cursor: pointer;
    border: 1px solid black;
    background: white;
}
div.board-header {
    border-bottom: 1px solid;
}
span.pin {
    position: relative;
    float: left;
    top: -10px;
    margin-left: -1.2em;
}
iframe {
    border: 0;
    height: 400px;
    width: 282px;
    pointer-events: none;
    overflow: hidden;
}
</style>
{% endblock %}

{% block body %}
<div class="header">
    <a class="header-link" href="https://github.com/michael-lazar/lets-dance">Spring '83</a>
    <a class="header-link" href="{% url "admin:index" %}">login</a>
</div>
<div class="newsstand">
{% for board in boards %}
    <div class="board" title="{{ board.key }}"
         onclick="window.open('{% url "board" board.key %}', '_blank', 'height=800,width=564');"
         style="transform: rotate({% uniform -5 5 %}deg) translate({% randint -5 5 %}px, {% randint -5 5 %}px);">
        <div class="board-header">
            <b>{{ board.key|slice:"12" }}</b> ({{ board.last_modified|timesince }} ago)
        </div>
        <iframe srcdoc="{{ board.content }}" sandbox="" allowtransparency="false" scrolling="no"></iframe>
    </div>
{% endfor %}
</div>
{% endblock %}
